@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0 auto;
  width: 90%;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#root {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: rgba(106, 109, 195, 0.82);
  color: #ffffff;
  height: 100vh;
  overflow: scroll;
}
