@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0 auto;
  width: 90%;
  background-image: url("https://img.freepik.com/free-vector/hand-drawn-glossary-illustration_23-2150272539.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: #6a6dc3d1;
  color: #ffffff;
  padding: 30px 30px;
  height: 100vh;
  overflow: scroll;
}
